Repository OpenMined/KotlinSyft, pull requests merged in 2020-06, with the labels that each got.

#199 Clean mnist
  README.md
  demo-app/build.gradle
  demo-app/local_config.properties
  demo-app/src/main/AndroidManifest.xml
  demo-app/src/main/java/org/openmined/syft/demo/federated/datasource/LocalMNISTDataDataSource.kt
  demo-app/src/main/java/org/openmined/syft/demo/federated/domain/Batch.kt
  demo-app/src/main/java/org/openmined/syft/demo/federated/domain/MNISTDataRepository.kt
  demo-app/src/main/java/org/openmined/syft/demo/federated/ui/ContentState.kt
  demo-app/src/main/java/org/openmined/syft/demo/federated/ui/MNISTActivity.kt
  demo-app/src/main/java/org/openmined/syft/demo/federated/ui/MnistViewModel.kt
  demo-app/src/main/java/org/openmined/syft/demo/federated/ui/MnistViewModelFactory.kt
  demo-app/src/main/java/org/openmined/syft/demo/login/LoginActivity.kt
  demo-app/src/main/java/org/openmined/syft/demo/login/LoginViewModel.kt
  demo-app/src/main/java/org/openmined/syft/demo/ui/MainActivity.kt
  demo-app/src/main/java/org/openmined/syft/demo/ui/MainViewModelFactory.kt
  demo-app/src/main/java/org/openmined/syft/demo/ui/ProcessState.kt
  demo-app/src/main/res/drawable/button_gradient.xml
  demo-app/src/main/res/drawable/button_solid.xml
  demo-app/src/main/res/layout/activity_login.xml
  demo-app/src/main/res/layout/activity_main.xml
  demo-app/src/main/res/layout/activity_mnist.xml
  demo-app/src/main/res/mipmap-hdpi/pysyft_android.png
  demo-app/src/main/res/values/attrs.xml
  demo-app/src/main/res/values/colors.xml
  demo-app/src/main/res/values/strings.xml
  demo-app/src/main/res/values/styles.xml
  project_resources/demo.gif
  syftlib/src/main/java/org/openmined/syft/Syft.kt
  syftlib/src/main/java/org/openmined/syft/execution/SyftJob.kt
  syftlib/src/main/java/org/openmined/syft/monitor/DeviceMonitor.kt
  syftlib/src/main/java/org/openmined/syft/networking/clients/SocketClient.kt
Labels: Priority: 3 - Medium :unamused:, Severity: 4 - Low :sunglasses:, Status: Completed :heavy_check_mark:, Type: Improvement :chart_with_upwards_trend:

#203 Dont skip ci to get code coverage
  .all-contributorsrc
Labels: Priority: 3 - Medium :unamused:, Severity: 4 - Low :sunglasses:, Status: Completed :heavy_check_mark:, Type: Documentation :books:

#207 feature testing
  build.gradle
  buildSrc/src/main/java/Dependencies.kt
  demo-app/src/main/java/org/openmined/syft/demo/federated/ui/MnistViewModel.kt
  syftlib/build.gradle
  syftlib/src/main/java/org/openmined/syft/Syft.kt
  syftlib/src/main/java/org/openmined/syft/domain/SyftConfiguration.kt
  syftlib/src/main/java/org/openmined/syft/execution/SyftJob.kt
  syftlib/src/main/java/org/openmined/syft/monitor/DeviceMonitor.kt
  syftlib/src/main/java/org/openmined/syft/networking/clients/HttpClient.kt
  syftlib/src/main/java/org/openmined/syft/networking/clients/SocketClient.kt
  syftlib/src/main/java/org/openmined/syft/networking/datamodels/syft/AuthenticationDataModels.kt
  syftlib/src/main/java/org/openmined/syft/networking/datamodels/syft/SpeedCheckResponse.kt
  syftlib/src/test/java/org/openmined/syft/execution/PlanTest.kt
  syftlib/src/test/java/org/openmined/syft/execution/SyftJobTest.kt
  syftlib/src/test/java/org/openmined/syft/integration/AbstractSyftWorkerTest.kt
  syftlib/src/test/java/org/openmined/syft/integration/AuthenticationTest.kt
  syftlib/src/test/java/org/openmined/syft/integration/DeviceMonitorTest.kt
  syftlib/src/test/java/org/openmined/syft/integration/DownloadablesTest.kt
  syftlib/src/test/java/org/openmined/syft/integration/MultipleSyftJobsTest.kt
  syftlib/src/test/java/org/openmined/syft/integration/SpeedIntegrationTest.kt
  syftlib/src/test/java/org/openmined/syft/integration/clients/HttpClientMock.kt
  syftlib/src/test/java/org/openmined/syft/integration/clients/SocketClientMock.kt
  syftlib/src/test/java/org/openmined/syft/integration/execution/ShadowPlan.kt
  syftlib/src/test/java/org/openmined/syft/networking/clients/WebRTCClientTest.kt
  syftlib/src/test/java/org/openmined/syft/networking/clients/WebSocketClientTest.kt
  syftlib/src/test/java/org/openmined/syft/networking/requests/ResponseRequestTypeTest.kt
  syftlib/src/test/java/org/openmined/syft/unit/SyftTest.kt
  syftlib/src/test/java/org/openmined/syft/unit/execution/JobStatusSubscriberTest.kt
  syftlib/src/test/java/org/openmined/syft/unit/execution/PlanTest.kt
  syftlib/src/test/java/org/openmined/syft/unit/execution/SyftJobTest.kt
  syftlib/src/test/java/org/openmined/syft/unit/monitor/DeviceMonitorTest.kt
  syftlib/src/test/java/org/openmined/syft/unit/monitor/battery/BatteryStatusDataSourceTest.kt
  syftlib/src/test/java/org/openmined/syft/unit/monitor/battery/RobolectricBatteryDataSource.kt
  syftlib/src/test/java/org/openmined/syft/unit/networking/clients/SocketClientTest.kt
  syftlib/src/test/java/org/openmined/syft/unit/networking/clients/WebRTCClientTest.kt
  syftlib/src/test/java/org/openmined/syft/unit/networking/clients/WebSocketClientTest.kt
  syftlib/src/test/java/org/openmined/syft/unit/networking/requests/ResponseRequestTypeTest.kt
  syftlib/src/test/java/org/openmined/syft/unit/proto/SyftModelTest.kt
  syftlib/src/test/java/org/openmined/syft/unit/utilities/IOTest.kt
  syftlib/src/test/java/org/openmined/syft/utilities/IOTest.kt
  syftlib/src/test/resources/proto_files/plan.pb
Labels: Priority: 3 - Medium :unamused:, Severity: 3 - Medium :unamused:, Status: In Progress :star2:, Type: Testing :test_tube:

#209 SyftJob tests
  .idea/dictionaries/jco59.xml
  syftlib/src/main/java/org/openmined/syft/Syft.kt
  syftlib/src/main/java/org/openmined/syft/datasource/JobLocalDataSource.kt
  syftlib/src/main/java/org/openmined/syft/datasource/JobRemoteDataSource.kt
  syftlib/src/main/java/org/openmined/syft/domain/JobRepository.kt
  syftlib/src/main/java/org/openmined/syft/domain/SyftConfiguration.kt
  syftlib/src/main/java/org/openmined/syft/execution/SyftJob.kt
  syftlib/src/main/java/org/openmined/syft/utilities/IO.kt
  syftlib/src/test/java/org/openmined/syft/datasource/JobRemoteDataSourceTest.kt
  syftlib/src/test/java/org/openmined/syft/execution/JobRepositoryTest.kt
  syftlib/src/test/java/org/openmined/syft/unit/SyftTest.kt
  syftlib/src/test/java/org/openmined/syft/unit/execution/SyftJobTest.kt
Labels: Type: Testing :test_tube:

#211 Remove activity monitoring and API clean up
  syftlib/src/main/java/org/openmined/syft/Syft.kt
  syftlib/src/main/java/org/openmined/syft/datasource/JobRemoteDataSource.kt
  syftlib/src/main/java/org/openmined/syft/execution/Plan.kt
  syftlib/src/main/java/org/openmined/syft/execution/SyftJob.kt
  syftlib/src/main/java/org/openmined/syft/monitor/DeviceMonitor.kt
  syftlib/src/main/java/org/openmined/syft/monitor/StateChangeMessage.kt
  syftlib/src/main/java/org/openmined/syft/monitor/useractivity/SleepStatusModel.kt
  syftlib/src/main/java/org/openmined/syft/monitor/useractivity/SleepStatusRepository.kt
  syftlib/src/main/java/org/openmined/syft/utilities/IO.kt
  syftlib/src/test/java/org/openmined/syft/integration/MultipleSyftJobsTest.kt
Labels: Priority: 4 - Low :sunglasses:, Severity: 4 - Low :sunglasses:, Status: Completed :heavy_check_mark:, Type: Documentation :books:, Type: New Feature :heavy_plus_sign:

#212 Test for jobLocalDataSource. Refactor IO
  syftlib/src/main/java/org/openmined/syft/datasource/JobLocalDataSource.kt
  syftlib/src/main/java/org/openmined/syft/domain/JobRepository.kt
  syftlib/src/main/java/org/openmined/syft/execution/Plan.kt
  syftlib/src/main/java/org/openmined/syft/monitor/network/NetworkStatusDataSource.kt
  syftlib/src/main/java/org/openmined/syft/utilities/IO.kt
  syftlib/src/test/java/org/openmined/syft/datasource/JobLocalDataSourceTest.kt
  syftlib/src/test/java/org/openmined/syft/execution/JobRepositoryTest.kt
  syftlib/src/test/java/org/openmined/syft/integration/clients/HttpClientMock.kt
  syftlib/src/test/java/org/openmined/syft/integration/execution/ShadowPlan.kt
  syftlib/src/test/java/org/openmined/syft/unit/utilities/IOTest.kt
Labels: Type: Refactor :hammer:, Type: Testing :test_tube:
